### 1. Write a program to print "Hello Python" ten times

In [16]:
i=1
while i<=10:
    print("Hello Python",i)
    i=i+1
print("end of loop")

Hello Python 1
Hello Python 2
Hello Python 3
Hello Python 4
Hello Python 5
Hello Python 6
Hello Python 7
Hello Python 8
Hello Python 9
Hello Python 10
end of loop

### 2.Write a program to print number from 1 to 10

In [1]:
i=1
while i<=10:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

### 3.Write a program to print sum of first ten number

In [5]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum,"is the sum of first ten numbers")

55 is the sum of first ten numbers

### 4.Write a program to print n number entered by user

In [6]:
num=int(input("enter a number: "))
i=1
while i<=num:
    print(i)
    i=i+1

enter a number: 7
1
2
3
4
5
6
7

### 5.Write a program to print sum of n numbers.

In [15]:
num=int(input("enter a number: "))
sum=0
i=1
while i<=num:
    sum= sum+i
    i +=1
print("sum of entered number is ",sum)

enter a number: 7
sum of entered number is  28

### 6.Write a program to print table of a number.

In [5]:
num=int(input("enter a number: "))
i=1
while i<=10 and num!=0:
    tab=num*i
    print(num,'*',i,'=',tab)
    i=i+1

enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### 7.Write a program to calculate the factorial of a number

In [9]:
num=int(input("enter a number: "))
i=1
fact=1
while i<=num:
    fact=fact*i
    i=i+1
print(fact,"is the factorial of ",num)

enter a number: 5
120 is the factorial of  5

### 8. Write a program to print even number between 1 and 100.

In [13]:
i=2
while i<=100:
    print(i,' ',end="")
    i=i+2

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88  90  92  94  96  98  100

### 9. Write a program to print even number between 1 and 100.

In [14]:
i=1
while i<=100:
    print(i,' ',end="")
    i=i+2

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  79  81  83  85  87  89  91  93  95  97  99

### 10. Write a program to check whether a given number is palindrome or not

In [11]:
num=int(input("enter a number: "))
temp=num
rev=0
while num!=0:
    digit= num%10
    rev= rev*10+digit
    num=num//10
if temp==rev:
    print(temp,"is the palindrome of given number")
else:
    print(temp,"is not the palindrome of given number")

enter a number: 787
787 is the palindrome of given number

### 11. Write a program to find factors of a number

In [ ]:
num=int(input("enter a number: "))
i=1
while num>=1:
    if num%i==0:
        print(i,end=" ")
    i=i+1

enter a number: 42
1 2 3 6 7 14 21 42

### 12. Write a program to print reverse of a number

In [3]:
num=int(input("enter a number: "))
temp=num
rev=0
while num !=0:
    digit=num%10
    rev=rev*10+digit
    num=num//10
print(rev)

enter a number: 895
598

### 13. write a program to find the sum of reverse of a number.

In [2]:
num=int(input("enter a number: "))
add=0
rev=0

while num!=0:
    digit=num%10
    rev=rev*10+digit
    add=add+digit
    num=num//10
print(rev)    
print(add,"is the reversed sum of the given number")

enter a number: 123
321
6 is the reversed sum of the given number

### 14. Write a program to check whether the given number is prime or not

In [10]:
n=int(input("Enter a number to check prime or not: "))           
if n<2:                                    
    print(n,"is not a prime number")
else:
    for i in range(2,n):                  
        if n%i==0:                        
            print(n,"is not a prime mumber")
            break
    else:
        print("It's a prime",n)

Enter a number to check prime or not: 23
It's a prime 23

### 15. Program to enter the cube of numbers from 1 to given number

In [14]:
num=int(input("enter a number: "))
i=1
while i<=num:
    print(i**3,end=' ')
    i+=1

enter a number: 7
1 8 27 64 125 216 343

# Patterns

### Number pattern

In [15]:
for i in range(1,6):        
    for j in range(1,i+1):   
        print(j,end="")
    print()

1
12
123
1234
12345

In [16]:
n=int(input("enter a number"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end="")
    print()

enter a number7
1234567
123456
12345
1234
123
12
1

In [17]:
n=int(input("enter a number"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end=" ")
    print()

enter a number5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
n=int(input("enter a number"))
for i in range(n,-1,-1):
    for j in range(n,i-1,-1):
        print(j,end=" ")
    print()

enter a number7
7
7 6
7 6 5
7 6 5 4
7 6 5 4 3
7 6 5 4 3 2
7 6 5 4 3 2 1
7 6 5 4 3 2 1 0

In [20]:
n=int(input("enter a number"))           
for i in range(n):                        
    for j in range(n-i):                 
        print(n-j,end="")                 
    print()

enter a number5
54321
5432
543
54
5

In [21]:
n=int(input("enter a number"))          
for i in range(n):                        
    for j in range(n-i):                  
        print(n-j,end=" ")                 
    print()

enter a number3
3 2 1
3 2
3

# Alphabet pattern

In [23]:
for i in range(6): 
    for j in range(i+1): 
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

In [24]:
for i in range(6): 
    for j in range(i+1): 
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE
FFFFFF

In [25]:
n=int(input("enter a number"))
for i in range(n,-1,-1):
    for j in range(0,i):
        print(chr(65+j),end=" ")
    print()

enter a number7
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [26]:
n=int(input("enter a number"))
for i in range(n,-1,-1):          
    for j in range(0,i+1):        
        print(chr(65+i),end=" ")   
    print()

enter a number5
F F F F F F
E E E E E
D D D D
C C C
B B
A

# star pattern

In [27]:
for i in range(6): 
    for j in range(i+1): 
        print("*",end="")
    print()

*
**
***
****
*****
******

In [31]:
n=int(input("enter a number"))
for i in range(n):
    print("*" *n)

enter a number8
********
********
********
********
********
********
********
********

In [32]:
n=int(input("enter a number"))
for i in range(n,-1,-1): 
    for j in range(0,i): 
        print("*",end="")
    print()

enter a number7
*******
******
*****
****
***
**
*

In [33]:
for i in range(5):
    print(" " * i + "*" * (5-i))

*****
 ****
  ***
   **
    *

In [34]:
for i in range(1, 7):        
    for j in range(6-i):  
        print(" ", end="")
    for k in range(i):      
        print("*", end="")
    print()

     *
    **
   ***
  ****
 *****
******

In [35]:
n=int(input("enter a number"))
for i in range(n):
    print("* " *n)

enter a number5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *